@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./skills.css');
@import url('./projects.css');
@import url('./whoAmI.css');
@import url('./formation.css');
@import url('./contact.css');

:root{
  --text-color: #fff;
  --bg-color: #121212;
  --bg-color-sec: #202020;
  --blue-gray-light: #9FB3C8;
  --blue-gray: #627D98;
  --blue-gray-dark2: #334E68; 
  --blue-gray-dark: #102A43;
  --blue: #0f41ad;
}

*{
  color: var(--text-color);
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
}

/* card */

.card {
  width: calc(180px - 2rem);
  background-color: var(--blue-gray-dark2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card__image i{
  font-size: 5rem;
}

.card__text{
  font-size: 1.5rem;
  padding: 0;
}

footer {
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--blue-gray-dark);
}